.Arrow__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Arrow__right {
  width: 38px;
  height: 38px;
  background-color: #86a1ae;
  border-radius: 4px;
  cursor: pointer;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Arrow__right > img {
  height: 20px;
}
.Arrow__left {
  width: 38px;
  height: 38px;
  background-color: #86a1ae;
  border-radius: 4px;
  cursor: pointer;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
